<div class="add-markers-component clearfix">
  <div v-show="savedData" class="col-xs-8 maps-wrapper">
    <div v-if="isLoading" class="maps-loading-holder">
      <div class="spinner-holder animated">
        <div class="spinner-overlay">Loading...</div>
        <p>Loading... Please wait!</p>
      </div>
    </div>
    <div v-else class="maps-container" v-bind:class="{ 'empty-state': !mappedMarkerData.length }">
      <div v-show="mappedMarkerData.length || widgetData.maps.length" class="map-wrapper-holder">
        <div v-for="(map, index) in widgetData.maps" class="map-wrapper" v-bind:class="{ 'active': selectedMarkerData.map && map.id === selectedMarkerData.map.id && imageLoaded }">
          <div class="map-container" :id="'map-' + map.id">
            <img v-if="map.image" class="map-image" :src="map.image.url"/>
          </div>
        </div>
      </div>
      <div v-if="selectedMarkerData.map && selectedMarkerData.map.name" class="maps-button">
        <i class="fa fa-map-o"></i>
        <div class="map-button-text"><p>\{{selectedMarkerData.map.name}}</p></div>
      </div>
      <div v-if="selectedMarkerData.map && selectedMarkerData.map.name" class="map-hint-holder">
        <div class="map-hint">Click the image to set the marker position</div>
      </div>
    </div>
  </div>
  <div class="settings-holder" v-bind:class="{ 'col-xs-12 less-bottom-padding': !savedData, 'col-xs-4 with-border': savedData }">
    <div class="marker-settings-wrapper">
      <div class="form-group clearfix">
        <div class="col-xs-12 control-label">
          <label>Markers data source</label>
        </div>
        <div class="col-xs-12">
          <template v-if="!savedData">
            <multiselect v-model="markersDataSource" :options="dataSources" :custom-label="nameWithId" placeholder="-- Select a data source" label="name" :show-labels="false" :allow-empty="false" :show-no-results="false"></multiselect>
            <a v-if="markersDataSource" href="#" @click.prevent="editDataSource">Edit data</a>
          </template>
          <template v-else>
            You are using the data source called <strong>\{{markersDataSource.name}}</strong>.<br>
            <span>
              <a href="#" @click.prevent="editDataSource">Bulk upload data</a> | 
              <a href="#" @click.prevent="chooseExistingData">Switch to another data source</a>
            </span>
          </template>
        </div>
      </div>
      <div v-if="!savedData">
        <div class="form-group clearfix">
          <div class="col-xs-12 control-label">
            <label>Marker name field</label>
          </div>
          <div class="col-xs-12">
            <multiselect v-model="markerNameColumn" :options="markersDataSource.columns" placeholder="-- Select a field" :show-labels="false" :allow-empty="false" :show-no-results="false"></multiselect>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="col-xs-12 control-label">
            <label>Map name field</label>
          </div>
          <div class="col-xs-12">
            <multiselect v-model="markerMapColumn" :options="markersDataSource.columns" placeholder="-- Select a field" :show-labels="false" :allow-empty="false" :show-no-results="false"></multiselect>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="col-xs-12 control-label">
            <label>Marker type field</label>
          </div>
          <div class="col-xs-12">
            <multiselect v-model="markerTypeColumn" :options="markersDataSource.columns" placeholder="-- Select a field" :show-labels="false" :allow-empty="false" :show-no-results="false"></multiselect>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="col-xs-12 control-label">
            <label>Marker X position field</label>
          </div>
          <div class="col-xs-12">
            <multiselect v-model="markerXPositionColumn" :options="markersDataSource.columns" placeholder="-- Select a field" :show-labels="false" :allow-empty="false" :show-no-results="false"></multiselect>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="col-xs-12 control-label">
            <label>Marker Y position field</label>
          </div>
          <div class="col-xs-12">
            <multiselect v-model="markerYPositionColumn" :options="markersDataSource.columns" placeholder="-- Select a field" :show-labels="false" :allow-empty="false" :show-no-results="false"></multiselect>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="col-xs-12">
            <div class="btn btn-default" @click.prevent="useSettings">Use these settings</div>
            <p v-if="dsConfigError" class="text-danger">You need to fill in all the above fields.</p>
          </div>
        </div>
      </div>
      <div v-else class="markers-ui-wrapper">
        <div class="form-group clearfix markers-ui-holder">
          <div class="col-xs-12 control-label">
            <label>Configure the markers</label>
          </div>
          <div v-if="isLoading" class="col-xs-12 markers-ui-loading">
            <div class="spinner-holder animated">
              <div class="spinner-overlay">Loading...</div>
              <p>Loading... Please wait!</p>
            </div>
          </div>
          <div v-else class="col-xs-12 markers-ui" v-bind:class="{ 'empty-state': !mappedMarkerData.length }">
            <div v-if="!mappedMarkerData.length" class="no-markers">
              Use the button below to add a new marker to your map.
            </div>
            <div v-else v-for="(markerInfo, index) in mappedMarkerData" class="marker-holder" v-bind:class="{ 'active': activeMarker === index }" @click.prevent="setActiveMarker(index)">
              <div class="marker-wrapper">
                <div v-if="markerInfo.data.updateName" class="marker-name-edit-holder">
                  <input v-model="markerInfo.data.name" :ref="'changename-' + index" class="form-control" @keyup.enter="confirmName(index)" @keyup.esc="cancelNameUpdate(index)"/> <i class="fa fa-check-circle" @click.prevent="confirmName(index)"></i> <i class="fa fa-ban" @click.prevent="cancelNameUpdate(index)"></i>
                </div>
                <div v-else class="marker-name-holder">
                  <span>\{{markerInfo.data.name}}</span> <i class="fa fa-pencil" @click.prevent="toUpdateName(index, markerInfo.data.name)"></i>
                </div>
                <div class="marker-map-holder">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <template v-if="markerInfo.data && markerInfo.data.map">
                        <span class="map-name">\{{markerInfo.data.map}}</span>
                      </template>
                      <template v-else>
                        &nbsp;
                      </template>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li v-for="map in widgetData.maps"><a href="#" @click.prevent="updateMap(map.name, index)">\{{map.name}}</a></li>
                    </ul>
                  </div>
                </div>
                <div class="marker-icon-holder">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <template v-if="markerInfo.data && markerInfo.data.icon && markerInfo.data.color">
                        <i :class="markerInfo.data.icon + ' fa-fw'" :style="'color: ' + markerInfo.data.color"></i>
                      </template>
                      <template v-else>
                        &nbsp;
                      </template>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li v-for="marker in widgetData.markers">
                        <a href="#" @click.prevent="updateMarker(marker, index)">\{{marker.name}} <i :class="marker.icon + ' fa-fw'" :style="'color: ' + marker.color"></i></a>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a href="#" @click.prevent="toggleEditMarkerOverlay"><span class="text-primary">Manage styles</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="marker-delete-holder" @click.stop="deleteMarker(index)">
                <i class="fa fa-trash"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="settings-buttons-wrapper" v-if="savedData">
      <div class="btn btn-secondary" @click.prevent="addNewMarker">Add new marker</div>
    </div>
  </div>
  <transition name="fade">
    <div v-if="showEditMarkerOverlay" class="edit-marker-overlay">
      <div class="edit-marker-overlay-content">
        <div class="marker-overlay-content-header">
          <h3 class="marker-overlay-title">Marker styles</h3>
          <div class="marker-overlay-close" @click.prevent="toggleEditMarkerOverlay">
            <a href="#"><i class="fa fa-times-thin fa-2x"></i></a>
          </div>
        </div>
        <div class="marker-overlay-content-body">

          <div class="map-markers-holder">
            <div class="add-map-marker" @click.prevent="onAddMarker"><i class="fa fa-plus-circle"></i> Add a new marker style</div>
            <div class="panel-group" id="markers-accordion">

              <div v-for="(marker, idx) in widgetData.markers" v-bind:key="marker.id" class="panel panel-default marker-panel" :data-id="marker.id">
                <div class="panel-heading">
                  <h4 class="panel-title" v-bind:class="{ 'collapsed': !marker.isFromNew }" data-toggle="collapse" data-parent="#markers-accordion" :data-target="'#collapse-' + marker.id">
                    <span class="panel-title-text">\{{marker.name}}</span>
                    <span class="fa panel-chevron fa-chevron-up"></span>
                  </h4>
                  <a href="#" @click.prevent="deleteMarkerStyle(idx)"><span class="icon-delete fa fa-trash"></span></a>
                </div>
                <div :id="'collapse-' + marker.id" class="panel-collapse collapse" v-bind:class="{ in: marker.isFromNew }">
                  <div class="panel-body">
                    <div class="error-holder" v-if="marker.error">\{{marker.error}}</div>

                    <component :is="marker.type" v-bind="marker"></component>

                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </transition>
</div>